################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/cabide-solidario/Migrations/20240509205051_initial.cs
/src/cabide-solidario/Migrations/20240509205051_initial.Designer.cs
