*{
    margin: 0;
    padding: 0;
}
.ajustarPosition{
    display:flex;
    flex-direction:column;
    height:100vh;
}
.mainPosition{
    flex:1;
}

.navbar-logo {
    width: 70px;
}

.navAjustes {
    height: 80px;
}