html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.secao1 {
    display: flex;
}

.container-secao1 {
    background-color: #e39282;
    display: flex;
}

.secao1-left {
    flex: 1;
}

.secao1-left p {
    font-size: 14px;
    line-height: 25px;
    margin:20px;
    margin-left: 50px;
    text-align:justify;
    font-weight:600;

}

.secao1-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao1-right img {
     width: 280px;
     box-shadow: 0px 5px 10px #333;
}

.secao3 {
    background-color: darkgoldenrod;

}

.secao3-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
}

.secao3-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: auto;
}

.secao3-box {
    
}

.secao3-box-area {
    margin: 30px;
    margin-bottom: 50px;
    display: inline-block;
    width: 200px;
}

.secao3-avatar {
    height: 150px;
}

.secao3-descricao {
    text-align: center;
}
