<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - cabide_solidario</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/cabide_solidario.styles.css" asp-append-version="true" />
</head>
<body>

    <header>
        <nav class="navbar p-3 navbar-dark bg-dark justify-content-start align-content-center navAjustes">
            <div class="navbar-area-logo">
                <img class="navbar-logo" src="/css/logo.png" alt="Alternate Text" />
            </div>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-item nav-link text-light ">Home</a>
        </nav>
    </header>
    
    <div class="wrapper">
        <div class="bg-dark sidebar collapsed">
            <button class="toggle-btn">&laquo;</button>
            <a asp-area="" asp-controller="RoupasDoadas" asp-action="Index"><span>Cadastrar Itens</span></a>
            <a asp-area="" asp-controller="Candidatos" asp-action="Index" class="nav-item nav-link"><span>Candidatos</span></a>
            <a asp-area="" asp-controller="Parceiros" asp-action="Index" class="nav-item nav-link"><span>Parceiros</span></a>
        </div>
        <div class="content">
            <main>@RenderBody()</main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $('.toggle-btn').click(function () {
                $('.sidebar').toggleClass('collapsed');
                $(this).toggleClass('collapsed');
                $(this).text($(this).hasClass('collapsed') ? '«' : '»');
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
