@{
    ViewData["Title"] = "Home Page";
}

<section class="secao1">
    
    <div class="container-secao1">
        <div class="secao1-left">
            <p>O Cabide Solidário é uma organização dedicada a distribuir roupas para pessoas em situação de vulnerabilidade. Além de oferecer vestuário, proporcionamos apoio emocional e encaminhamento para outros serviços sociais. Acreditamos na dignidade de cada indivíduo e buscamos promover o calor humano e a solidariedade em nossa comunidade. Com o apoio de voluntários e parceiros, estamos transformando vidas e construindo um mundo mais justo e acolhedor. Junte-se a nós e faça parte dessa corrente de amor e esperança.</p>
            <br />
        </div>
        <div class="secao1-right">
            <img src="/css/doacao-roupas-home.jpg"/>
        </div>
    </div>

</section>
    
<section>
    Seção 2
</section>

<section class="secao3">
    <div class="secao3-title">Equipe</div>
    <div class="secao3-container">
        <div class="secao3-box">
            <div class="secao3-box-area">
                <img class="secao3-avatar" src="/css/voluntario-2.jpg" alt="Foto de um voluntário(a)" />
                <div>Joana Silva</div>
                <div>Coordenadora de Logística</div>
                <div class="secao3-descricao">Joana é responsável por coordenar a logística de recebimento, triagem e distribuição das doações de roupas na ONG. Ela trabalha em estreita colaboração com equipes de voluntários para garantir que as doações sejam recebidas de forma eficiente e distribuídas para aqueles que mais precisam.</div>
            </div>
            <div class="secao3-box-area">
                <img class="secao3-avatar" src="/css/voluntário-1.jpg" alt="Foto de um voluntário(a)" />
                <div>Maria Santos</div>
                <div>Coordenadora de Assistência Social</div>
                <div class="secao3-descricao">Maria é responsável por coordenar os programas de assistência social da ONG, garantindo que as pessoas em situação de vulnerabilidade tenham acesso às roupas doadas de acordo com suas necessidades. Ela trabalha para identificar e atender às necessidades específicas da comunidade atendida pela ONG.</div>
            </div>
            <div class="secao3-box-area">
                <img class="secao3-avatar" src="/css/voluntario-3.jpg" alt="Foto de um voluntário(a)" />
                <div>Carlos Mendes</div>
                <div>Gerente de Comunicação e Engajamento</div>
                <div class="secao3-descricao">Carlos lidera os esforços de comunicação da ONG, garantindo que a mensagem da organização seja clara e impactante. Ele desenvolve campanhas de conscientização, engaja a comunidade local e promove eventos para incentivar a doação de roupas e o apoio às causas sociais da ONG.</div>
            </div>
        </div>
    </div>

</section>

<section class="secao4">
    Seção 4
</section>

<section class="secao5">
    Seção 5
</section>

<section class="secao6">
    Seção 6
</section>

<section class="secao7">
    Seção 7
</section>


