@{
    ViewData["Title"] = "Home Page";
}

<section class="Secao1">
    
    

</section>

<section>
    Seção 2
</section>

<section>
    Seção 3
</section>

<section>
    Seção 4
</section>

<section>
    Seção 5
</section>

<section>
    Seção 6
</section>

<section>
    Seção 7
</section>


